{
   "configuration" : {
      "hierarchical": {
        "sort": {
          "trackNames": true,
          "categories": true
        },
      "defaultCollapsed": {
          "subCategories": true ,
          "topLevelCategories": true
          }
      }
  },
  "plugins" : [
     {
       "name" : "VariantColorPlugin",
       "umdLoc" : {
          "uri" : "variantColor_plugin.js"
       }
     },
     {
       "name" : "HTVariantColorPlugin",
       "umdLoc" : {
          "uri" : "htVariantColor_plugin.js"
       }
     },
     {
       "name" : "MultiVariantColorPlugin",
       "umdLoc" : {
          "uri" : "multiVariartColor_plugin.js"
       }
     },
     {
       "name" : "VariantLabelPlugin",
       "umdLoc" : {
          "uri" : "variantLabel_plugin.js"
       }
     },
     {
       "name" : "VariantDescriptionPlugin",
       "umdLoc" : {
          "uri" : "variantDescription_plugin.js"
       }
     }
  ],
  "aggregateTextSearchAdapters" : [
    {
      "type": "TrixTextSearchAdapter",
      "textSearchAdapterId": "mRatBN7.2-index",
      "ixFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/mRatBN7.2.ix",
        "locationType": "UriLocation"
      },
      "ixxFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/trix/mRatBN7.2.ixx",
        "locationType": "UriLocation"
      },
      "metaFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/mRatBN7.2_meta.json",
        "locationType": "UriLocation"
      },
      "assemblyNames": [
        "Rattus_norvegicus"
      ]
    },
    {
      "type": "TrixTextSearchAdapter",
      "textSearchAdapterId": "GRCh38.p14-index",
      "ixFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/GRCh38.p14.ix",
        "locationType": "UriLocation"
      },
      "ixxFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/GRCh38.p14.ixx",
        "locationType": "UriLocation"
      },
      "metaFilePath": {
        "uri" : "/jbrowsedata/RGDJBrowse/trix/GRCh38.p14_meta.json",
        "locationType": "UriLocation"
      },
      "assemblyNames": [
        "Homo_sapiens"
      ]
    },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/FlyBase/fruitfly/names/"
         },
         "assemblyNames" : [
            "Drosophila_melanogaster"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "fruitfly_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/RGD/rat/names/"
         },
         "assemblyNames" : [
            "Rattus_norvegicus"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "rat_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/MGI/mouse/names/"
         },
         "assemblyNames" : [
            "Mus_musculus"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "mouse_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/human/names/"
         },
         "assemblyNames" : [
            "Homo_sapiens"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "human_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/zfin/zebrafish-11/names/"
         },
         "assemblyNames" : [
            "Danio_rerio"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "zebrafish_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/WormBase/c_elegans_PRJNA13758/names/"
         },
         "assemblyNames" : [
            "Caenorhabditis_elegans"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "worm_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/XenBase/x_laevis/names/"
         },
         "assemblyNames" : [
            "Xenopus_laevis"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "xlaevis_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/XenBase/x_tropicalis/names/"
         },
         "assemblyNames" : [
            "Xenopus_tropicalis"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "xtropicalis_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/6.0.1/SGD/yeast/names/"
         },
         "assemblyNames" : [
            "Saccharomyces_cerevisiae"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "yeast_generate-names-index"
      },
      {
         "namesIndexLocation" : {
            "uri" : "https://s3.amazonaws.com/agrjbrowse/docker/3.2.0/SARS-CoV-2/names/"
         },
         "assemblyNames" : [
            "SARS-CoV-2"
         ],
         "type" : "JBrowse1TextSearchAdapter",
         "textSearchAdapterId" : "SARS-CoV-2_generate-names-index"
      }
  ],
  "assemblies": [
    {
      "name": "Homo_sapiens",
      "displayName": "Homo sapiens",
      "refNameAliases": {
        "adapter": {
          "type": "RefNameAliasAdapter",
          "location": {
            "uri": "aliases/aliases_hg38.txt",
            "locationType": "UriLocation"
          }
        }
      },
      "cytobands": {
        "adapter": {
          "type": "CytobandAdapter",
          "cytobandLocation": {
            "uri": "https://s3.amazonaws.com/jbrowse.org/genomes/GRCh38/cytoBand.txt"
          }
        }
      },
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Homo_sapiens_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001405.40_GRCh38.p14_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001405.40_GRCh38.p14_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001405.40_GRCh38.p14_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001405.40_GRCh38.p14_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Homo_sapiens_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Homo_sapiens_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Danio_rerio",
      "displayName": "Danio rerio",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Danio_rerio_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002035.6_GRCz11_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002035.6_GRCz11_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002035.6_GRCz11_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002035.6_GRCz11_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Danio_rerio_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Danio_rerio_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Rattus_norvegicus",
      "displayName": "Rattus norvegicus",
      "refNameAliases": {
        "adapter": {
          "type": "RefNameAliasAdapter",
          "location": {
            "uri": "aliases/aliases_rn7.2.txt",
            "locationType": "UriLocation"
          }
        }
      },
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Rattus_norvegicus_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_015227675.2_mRatBN7.2_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_015227675.2_mRatBN7.2_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_015227675.2_mRatBN7.2_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_015227675.2_mRatBN7.2_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Rattus_norvegicus_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Rattus_norvegicus_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Mus_musculus",
      "displayName": "Mus musculus",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Mus_musculus_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001635.27_GRCm39_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001635.27_GRCm39_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001635.27_GRCm39_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001635.27_GRCm39_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Mus_musculus_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Mus_musculus_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Xenopus_laevis",
      "displayName": "Xenopus laevis",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Xenopus_laevis_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENLA_9.2_genome.fa.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENLA_9.2_genome.fa.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENLA_9.2_genome.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENLA_9.2_genome.fa.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Xenopus_laevis_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Xenopus_laevis_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Xenopus_tropicalis",
      "displayName": "Xenopus tropicalis",
      "refNameAliases": {
        "adapter": {
          "type": "RefNameAliasAdapter",
          "location": {
            "uri": "aliases/aliases_xt.txt",
            "locationType": "UriLocation"
          }
        }
      },
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Xenopus_tropicalis_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENTR_9.1_genome.fa.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENTR_9.1_genome.fa.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENTR_9.1_genome.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/XENTR_9.1_genome.fa.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Xenopus_tropicalis_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Xenopus_tropicalis_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Caenorhabditis_elegans",
      "displayName": "Caenorhabditis elegans",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Caenorhabditis_elegans_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002985.6_WBcel235_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002985.6_WBcel235_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002985.6_WBcel235_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000002985.6_WBcel235_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Caenorhabditis_elegans_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Caenorhabditis_elegans_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Drosophila_melanogaster",
      "displayName": "Drosophila melanogaster",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Drosophila_melanogaster_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Drosophila_melanogaster_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Drosophila_melanogaster_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "Saccharomyces_cerevisiae",
      "displayName": "Saccharomyces cerevisiae",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "Saccharomyces_cerevisiae_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000146045.2_R64_genomic.fna.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000146045.2_R64_genomic.fna.gz.fai"
          },
          "metadataLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000146045.2_R64_genomic.yaml"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/GCF_000146045.2_R64_genomic.fna.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "Saccharomyces_cerevisiae_refseq-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "Saccharomyces_cerevisiae_refseq-LinearGCContentDisplay"
          }
        ]
      }
    },
    {
      "name": "SARS-CoV-2",
      "sequence": {
        "type": "ReferenceSequenceTrack",
        "trackId": "SARS-CoV-2_refseq",
        "adapter": {
          "type": "BgzipFastaAdapter",
          "fastaLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/sarscov2.fasta.gz"
          },
          "faiLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/sarscov2.fasta.gz.fai"
          },
          "gziLocation": {
            "locationType": "UriLocation",
            "uri": "https://s3.amazonaws.com/agrjbrowse/fasta/sarscov2.fasta.gz.gzi"
          }
        },
        "displays": [
          {
            "type": "LinearReferenceSequenceDisplay",
            "displayId": "SARS-CoV-2_refse-LinearReferenceSequenceDisplay"
          },
          {
            "type": "LinearGCContentDisplay",
            "displayId": "SARS-CoV-2_refse-LinearGCContentDisplay"
          }
        ]
      },
      "displayName": "SARS-CoV-2"
    }
  ]
}
